
.header{
  padding: 15px 0;
  position: absolute;
  width: 100%;
  color: white;
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu{
    display: flex;
    column-gap: 20px;
    &-item{
      a{
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        cursor: pointer;
        color: white;
      }
    }
  }
  &__icons{
    display: flex;
    column-gap: 13px;
  }
}
.newH{
  .header__menu{
    display: flex;
    column-gap: 20px;
    .header__menu-item{
      a{
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        cursor: pointer;
        color: black;
      }
    }
  }
  .header__lang{
    color: black;
    svg{
      path{
        fill: black;
      }
    }
  }
  .header__icons-item {
    svg {
      fill: #FFFFFF;

      g {
        path {
          fill: #E0BEA2;
        }
      }
    }
  }
}