.news{
  padding: 350px 0;
  background: url("../images/Фон.png");
  text-align: center;
  &__title{
    font-family: Raleway,sans-serif;
    font-size: 46px;
    font-weight: 300;
    line-height: 54px;
    color: white;
  }
  &__desc{
    font-family: Raleway,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    color: white;
    margin-top: 20px ;
  }
}