@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  transition: 0.5s;
  font-family: "Raleway", sans-serif;
}
.container{
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}
.catalog{
  padding: 150px 0 0;
  display: flex;
  column-gap: 25px;
}
@import "header";
@import "news";
@import "email";
@import "footer";
@import "Products";
@import "catigores";
@import "aside";
@import "catalog";
@import "favorites";
@import "register";
@import "login";
@import "basket";
